@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-bakbak: "Bakbak One", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
